
.bg-about1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/backgrounds/BG2_10.png');
}

.bg-azul {
background-repeat: no-repeat;
background-size: cover;
background-image: url('/images/backgrounds/bgazul.png');
}
.texto-blanco {
    color: azure;
}